extends layout.pug

block content

  section.section-padding
    .container
      .row.justify-content-center
        .col-10
          h2.text-center Сайт предоставляет услуги компании KARABEL. Мы производим приборы, стабилизаторы, наборы и другие вещи необходимые каждому судну.
            <br/><br/>
              | Наши клиенты выбирают нас, потому что:

  section.section-padding
    .container
      .row.diagramm-row
        .col-4.position-relative
          span.diagramm-number 1
          h1.diagramm-name Продажи:
        .col-8
          .diagramm
            img.img-fluid(src="img/diagramm-1.png" alt="diagramm")
      .row.diagramm-row
        .col-4.position-relative
          span.diagramm-number 2
          h1.diagramm-name Цены товаров:
        .col-8
          .diagramm
            img.img-fluid(src="img/diagramm-2.png" alt="diagramm")
      .row.diagramm-row
        .col-4.position-relative
          span.diagramm-number 3
          h1.diagramm-name Опыт сотрудников:
        .col-8
          .diagramm
            img.img-fluid(src="img/diagramm-3.png" alt="diagramm")
