extends layout.pug

block content

  section.section-padding
    .container
      .row.justify-content-center
        .col-10
          h2.text-center Сайт предоставляет услуги компании KARABEL. Мы производим приборы, стабилизаторы, наборы и другие вещи необходимые каждому судну.
            <br/><br/>
              | Наши клиенты выбирают нас, потому что:

  section.section-padding
    .container
      .row
        .col-4
          span.diagramm-number 1
          h3.text-end.align-middle Продажи:
        .col-8
          .diagramm
            img.img-fluid(src="img/diagramm-1.png" alt="diagramm")
