doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="style/style.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous")
    block title
  body.bg-dark(data-bs-theme="dark")
  block header
    .header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-black(data-bs-theme="dark")
        .container
          a.navbar-brand(href='#')
            img.img-fluid(src="img/logo.svg" alt="logo")
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link.active(href='#') Главная
              li.nav-item
                a.nav-link(href='products') Товары
              li.nav-item
                a.nav-link(href='#') Пользователи
              li.nav-item
                a.nav-link(href='#') Регистрация
              li.nav-item
                a.nav-link(href='#') Войти

  block content

  block footer
    footer.footer.bg-black
      .container
        .row.py-5
          .col-12.col-lg-4.text-center.text-lg-start.mb-4
            img(src="img/logo.svg" alt="logo")
          .col-12.col-lg-8
            section.container
              .row
                .col-12.col-lg-4.text-center.text-lg-end.mb-3
                  p
                    a(href="#").text-white Контакты
                  p
                    a(href="#").text-white Отзывы
                  p
                    a(href="#").text-white Новости
                  p
                    a(href="#").text-white Начальник цеха
                .col-12.col-lg-4.text-center.text-lg-end.mb-3
                  p
                    a(href="#").text-white Контакты
                  p
                    a(href="#").text-white Отзывы
                  p
                    a(href="#").text-white Новости
                  p
                    a(href="#").text-white Начальник цеха
                .col-12.col-lg-4.text-center.text-lg-end.mb-3
                  p
                    a(href="#").text-white Контакты
                  p
                    a(href="#").text-white Отзывы
                  p
                    a(href="#").text-white Новости
                  p
                    a(href="#").text-white Начальник цеха
        .row
          .col-3
            p
              | © KARABEL 2023. Made by Podolsky
          .col-3.ms-auto
            p.small.text-lg-end
              a(href="#").text-white Правила чего-нибудь
          .col-3
            p.small.text-lg-end
              a(href="#").text-white Политика конфиденциальности